.App {
  text-align: center;
}

.z-index-100 {
  z-index: 100;
}

.right-0 {
  right: 0px;
}

/* MovieCard */

.moviecard {
  opacity: 0.9;
}

.moviecard:hover {
  opacity: 1;
  transition: 0.3s;
}

.moviecard-subtitle {
  line-height: 3;
}

.moviecard-options {
  position: absolute;
  right: 0;
  z-index: 100;
  height: 100%;
}

.option-btn {
  margin-bottom: 1rem;
}

/* MovieDetails */

.moviedetails-header {
  color: inherit;
}

/* RateButton */

.rate-btn {
  position: relative;
  z-index: 100;
}

.rating-popover {
  z-index: 100;
  text-align: center;
}

.popover-close {
  position: absolute;
  right: 10px;
  color: darkred;
  cursor: pointer;
}

/* Other */

.listItem:hover {
  color: #1a1a1a;
}
